# development configuration
server:
  port: 8084

spring:
  datasource:
    url: JDBC:mysql://localhost:3306/auth_db
    username: root
    password: Mandeep123

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    show-sql: true

logging:
  level:
    org.springframework.security: DEBUG

security:
  jwt:
    secret: 1234567890123456789012345678901234567890123456789012345678901234
    issuer: api.mandeep.com
    access-ttl-seconds: 3600
    refresh-ttl-seconds: 86400
    refresh-token-cookie-name: refreshToken
    cookie-secure: true
    cookie-http-only: true
    cookie-same-site: lax
    cookie-domain: localhost
